<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Araganya</title>
    <link rel="stylesheet" href="/styles/style.css"/>
    <link rel="icon" href="/AraGanYa/icon16.png">
  </head>

  <body>
    <div class="background_media_container">
      <video
        class="video_background"
        id="back_vid"
        type="mp4"
        src="/vid/body_background_vid.mp4"
        playsinline
        autoplay
        muted
        loop
      ></video>
    </div>

    <div class="main_area">
      <div class="main_area_grid">
        <div class="top_bar">
          <div class="top_bar_container">
            <div class="space"></div>
            <a class="site_name_bar" id="site_name" href="#">AraGanYa</a>
            <div class="space"></div>
            <input type="search" class="search_bar" id="search_bar" placeholder="Search..." />
            <a class="login_menu_button" href="/views/login.html">Log in</a>
            <a href="/views/register.html">
              <button type="button" class="register_menu_button">
                <b>Register</b>
              </button>
            </a>
          </div>
        </div>

        <div class="left_side">
          <div class="music_list_container" id="music_list_container">
            <!-- /////////////////////////////////// -->
            <!-- Сюда Js вставляет песни -->
            <!-- /////////////////////////////////// --> 
            <div class ="replase"></div>
          </div>
        </div>

        


        <div class="right_side" id="right_side_id">
          <div id="content_menu_flex_id"">
            <!-- /////////////////////////////////// -->
            <!-- Сюда Js вставляет код при клике row -->
            <!-- /////////////////////////////////// --> 
          </div>
        </div>

        <div class="song_player">
          <div class="tune_menu_img_wrapper">
            <img class="tune_menu_img" src="/images/tune.png" alt="#">
          </div>

          <div class="tune_menu">
            <div class="tune_menu_content">

              <div class="close_zone"><b>✕</div>

              <div class="song_vol_wrapper">
                <div>Music volume</div>
                <input type="range" id="song_Volume">
              </div>

              <div class="sfx_vol_wrapper">
                <div>SFX volume</div>
                <input type="range" id="sfx_Volume">
              </div>

              <div class="audio_container">
                <input type="button" id="stop_button" class="stop_button" value="█">
                <input type="button" id="default_button" class="default_button" value="Default">
              </div>

            </div>
          </div>
        </div>
      </div>

      <div id="guide">
        <div id="gude_wrapprer">
          <div id="restart_guide">To update the list, click on the site name above</div>
          <div id="volume_guide">To change volume settings or stop a track, click on the menu below</div>
          <input type="button" id="conformation_button" value="I understood!">
        </div>
      </div>

    </div>
    <script type="module" src="/js/script.js"></script>
  </body>
</html>



