<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User profile</title>
    <link rel="stylesheet" href="../styles/profile.css" />
  </head>
  <body>
    <div class="bg_media_container">
      <video
        disablePictureInPicture
        class="video_background"
        id="back_vid"
        type="mp4"
        src="../vid/body_background_vid.mp4"
        playsinline
        autoplay
        muted
        loop
      ></video>
    </div>

    <div class="main_area">
      <div class="area_flex">
        <div class="work_area_flex">
          <div class="work_area">
            <div class="work_area_grid">
              <div class="music_list_container">
                <div class="row" id="rw1" aria-selected="false">
                  <div class="row_grid">
                    <img class="song_image" src="#" alt="#" />
                    <div class="song_info_container">
                      <div class="song_name">Test</div>
                      <div class="song_author">Test</div>
                    </div>
                    <div class="del_button_container">
                      <p class="del_button"><b>✕</b></p>
                    </div>
                  </div>
                </div>

                <div class="row" id="rw1" aria-selected="false">
                  <div class="row_grid">
                    <img class="song_image" src="#" alt="#" />
                    <div class="song_info_container">
                      <div class="song_name">Test</div>
                      <div class="song_author">Test</div>
                    </div>
                    <div class="del_button_container">
                      <p class="del_button"><b>✕</b></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mus_add_area">
                <div class="mus_add_area_grid">
                  <div class="song_lirycs_form">
                    <textarea id="song_lirycs_form_id"
                      placeholder="Enter your lirycs here..."
                    ></textarea>
                  </div>

                  <div class="song_name_form">
                    <input
                      id="song_name_form_id"
                      type="text"
                      placeholder="Song Title..."
                    />
                  </div>

                  <div class="song_author_form">
                    <input
                      id="song_author_form_id"
                      type="text"
                      placeholder="Song Author..."
                    />
                  </div>

                  <div class="song_icon_form">
                    <button id="song_icon_form_id">Upload Icon</button>
                  </div>

                  <div class="song_banner_form">
                    <button id="song_banner_form_id">Upload Banner</button>
                  </div>

                  <div class="song_file_form">
                    <button id="song_file_form_id">Upload Song</button>
                  </div>

                  <div class="add_button">
                    <button id="add_button_id">Publish</button>
                  </div>

                  <div class="return_button">
                    <a href="index.html">
                      <button id="return_button_id">Return</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main_area_cover"></div>
    </div>

    <script src="../js/script.js"></script>
  </body>
</html>
