@font-face {
  font-family: LXGW;
  src: url(../fonts/LXGWWenKaiTC-Regular.woff2) format("woff2");
  font-style: normal;
  font-display: swap;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.background_media_container {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.video_background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main_area {
  background-color: rgba(0, 0, 0, 0.164);
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.main_area_grid {
  display: grid;
  height: 100%;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.top_bar {
  background-color: rgba(0, 0, 0, 0.603);

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;

  width: 100%;
  height: 100%;
}

.top_bar_container {
  display: flex;
  padding: 20px;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

#wrap_sn_sb {
  min-width: 150px;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 5%;
  margin-left: 5%;
}

.site_name_bar {
  font-family: LXGW, Arial, sans-serif;
  font-size: 45px;
  color: rgb(207, 230, 201);
  height: 100%;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.search_bar {
  font-family: LXGW, Arial, sans-serif;
  font-size: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  align-items: center;
  background-color: rgba(36, 31, 31, 0.596);
  border: 3px solid rgb(65, 59, 59);
  color: rgba(255, 255, 255, 0.9);
  outline: none;
  
  padding: 20px;
  height: 10px;
  min-width: 150px;
  max-width: 100%;
}

.search_bar:focus {
  border: 3px solid rgb(236, 228, 228);
}

.search_bar::-webkit-search-cancel-button {
  display: none;
}



.login_menu_button {
  font-family: LXGW, Arial, sans-serif;
  color: aliceblue;
  align-items: center;
  font-size: 17px;
  padding: 13px;
  z-index: 1;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.register_menu_button {
  font-family: LXGW, Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  font-size: 17px;
  align-items: center;
  padding: 13px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.site_name_bar:hover {
  transform: scale(1.05);
}

.login_menu_button:hover {
  transform: scale(1.05);
}

.register_menu_button:hover {
  transform: scale(1.05);
}

.left_side {
  position: relative;

  height: 100%;
  width: 100%;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 10;
}

.right_side {
  position: relative;

  height: 100%;
  width: 100%;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: -10;
  grid-row-end: -2;

  box-sizing: content-box;
}

#content_menu_flex_id {
  position: relative;

  width: 100%;
  height: 100%;
}

.content_menu_animation {
  position: absolute;

  width: 100%;
  height: 100%;

  animation-name: slide-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  bottom: -120%;
  scroll-behavior: smooth;
}

@keyframes slide-up {
  0% {
    bottom: -120%;
  }
  100% {
    bottom: 0%;
  }
}

@keyframes slide-down {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: -120%;
  }
}

.content_menu_frame_red {
  display: flex;

  width: 80%;
  height: 100%;

  justify-content: center;
}

.content_menu_frame_gray {
  width: 97%;
  height: 100%;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  background: linear-gradient(to top, #242020, #383232);
}

.content_flex {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  overflow-y: scroll;
  overflow-x: hidden;
}

.content_menu_top_bar {
  position: relative;
  width: 100%;
  min-height: 25%;
  max-height: 25%;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  background-color: rgb(10, 1, 1);
}

.music_banner {
  object-fit: cover;

  -webkit-user-drag: none;
  cursor: pointer;
  
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 100%;
  width: 100%;
}

.content_info_bar_flex {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-height: fit-content;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: ;
  border-top-left-radius: ;

  background-color: #241f1f;
}

.content_song_name {
  font-family: LXGW, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.801);
  font-size: 30px;
  width: 100%;

  display: flex;
  justify-content: center;

  overflow-wrap: break-word;
  box-sizing: border-box;
  padding: 1%;
}

.deco_gap {
  height: 3px;
  width: 35%;

  border-radius: 10px;

  align-self: center;
  background-color: #8a9ba8;

  animation: deco_gap 1s ease-in-out forwards;
}

@keyframes deco_gap {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}

.content_song_author {
  font-family: LXGW, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.801);
  font-size: 30px;
  width: 100%;

  display: flex;
  justify-content: center;

  overflow-wrap: break-word;
  box-sizing: border-box;
  padding: 1%;
}

.song_lyrics {
  font-family: LXGW, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.897);
  font-size: 17px;

  white-space: pre-wrap;
  text-align: center;
  scroll-behavior: smooth;

  box-sizing: border-box;
  padding: 5%;
}

::-webkit-scrollbar {
  display: none;
}

.music_list_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  /* outline: 1px solid rgba(238, 232, 170, 0.747); */
}

.row {
  position: relative;
  left: -700px;
  margin: 0.2vw;
  width: 70%;
  height: 100px;
  border-radius: 4px;
  background: linear-gradient(
    rgba(15, 15, 92, 0.25),
    rgba(230, 134, 150, 0.25)
  );
  cursor: pointer;
  transition: 300ms;
  user-select: none;
  animation: row 0.5s ease-in-out forwards;
  
}

@keyframes row {
  0% {
    width: -700px;
  }
  100% {
    left: 4vw;
  }
}

.row[aria-selected="true"] {
  background: linear-gradient(
    rgba(89, 89, 126, 0.582),
    rgba(230, 134, 150, 0.582)
  );
}

.row:hover {
  transform: translateX(50px);
  scale: 1.1;
  margin: 15px;
}

.row:has(+ .row:hover),
.row:hover + .row {
  transform: translateX(7px);
  scale: 1.05;
}

.row:has(+ .row + .row:hover),
.row:hover + .row + .row {
  transform: translateX(5px);
  scale: 1.02;
}

.row_grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 100px auto;
  grid-gap: 20px;
}

.song_image {
  width: 100%;
  height: 100%;
}

.song_info_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#song_name {
  width: 100%;
  height: auto;
  margin-top: 1%;
  font-family: LXGW, Arial, sans-serif;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.9);
}

#song_author {
  width: 100%;
  height: auto;
  font-family: LXGW, Arial, sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
}

.song_player {
  display: flex;

  justify-content: end;
  align-items: center;

  height: 100%;
  width: 100%;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 10;
  grid-row-end: 10;

  z-index: 2;

  background-color: rgba(0, 0, 0, 0.8);
}

.tune_menu_img_wrapper {
  height: 40px;
  width: 40px;

  margin-right: 1%;
}

.tune_menu_img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.tune_menu_img:hover {
  transform: scale(1.05);
}

.tune_menu {
  position: absolute;

  height: 180px;
  width: 270px;

  bottom: 0;
  right: 0;

  box-shadow: -1px 1px 10px 1px rgb(0, 0, 0);
  background: linear-gradient(to top, #242020, #312c2c);

  right: -300px;
  transition: right 0.5s ease-out;
}

.tune_menu.active {
  right: 0;
}

.tune_menu_content {
  height: 100%;
  width: 100%;
}

.close_zone {
  margin: 10px;
  line-height: 1;

  cursor: pointer;
  display: inline-block;

  font-size: 20px;
  color: #ada3a3;
  background-color: #582727;
}

.close_zone:hover {
  transform: scale(1.1);
}

.song_vol_wrapper {
  display: flex;
  justify-content: space-between;

  margin: 10px;
  color: #ada3a3;
}

.sfx_vol_wrapper {
  display: flex;
  justify-content: space-between;

  margin: 10px;
  color: #ada3a3;
}

.audio_container {
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
}

.stop_button,
.default_button {
  font-family: LXGW, Arial, sans-serif;
  font-size: 17px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  width: 40%;

  background-color: rgba(36, 31, 31, 0.596);
  border: 3px solid rgb(65, 59, 59);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.9);

  transition: transform 0.1s ease, background-color 0.1s ease;
}

.default_button:active,
.stop_button:active {
  transform: scale(0.95);
  background-color: #3a3e41;
}

#guide {
  position: absolute;

  top: 0;
  left: 0;

  z-index: 10;

  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.664);
}

#gude_wrapprer {
  position: relative;
  display: flex;

  height: 100%;
  width: 100%;
}

#restart_guide {
  font-family: LXGW, Arial, sans-serif;
  font-size: 26px;
  color: rgb(209, 218, 218);

  position: absolute;
  display: flex;

  border-bottom-right-radius: 30px;

  text-align: center;
  align-items: center;
  padding: 20px;
  top: 100px;
  width: 400px;
  height: 70px;
  line-height: 1;

  background-color: rgb(48, 45, 45);

  left: -450px;
  animation: restart_guide 0.5s ease-in-out forwards;
}

@keyframes restart_guide {
  0% {
    left: -450px;
  }
  100% {
    left: 0;
  }
}

#volume_guide {
  font-family: LXGW, Arial, sans-serif;
  font-size: 26px;
  color: rgb(209, 218, 218);

  position: absolute;
  display: flex;

  border-top-left-radius: 30px;

  align-items: center;
  text-align: center;
  padding: 20px;
  bottom: 100px;
  width: 400px;
  height: 70px;
  line-height: 1;

  background-color: rgb(48, 45, 45);

  right: -450px;
  animation: volume_guide 0.5s ease-in-out forwards;
}

@keyframes volume_guide {
  0% {
    right: -450px;
  }
  100% {
    right: 0;
  }
}

#conformation_button {
  font-family: LXGW, Arial, sans-serif;
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  line-height: 1;

  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;

  height: 100px;
  width: 330px;

  display: flex;
  margin: auto;

  background-color: rgb(54, 50, 50);
  color: rgb(209, 218, 218);

  transition: transform 0.1s ease, background-color 0.1s ease;
}

#conformation_button:active {
  transform: scale(0.95);
  background-color: #3a3e41;
}

#conformation_button:hover {
  background-color: rgba(78, 78, 78, 0.315);
}

@media (max-width: 1280px) {
  .content_song_name {
    font-size: 1em;
    padding: 1%;
  }

  .decor_gap {
    font-size: 1em;
    padding: 1%;
  }

  .content_song_author {
    font-size: 1em;
    padding: 1%;
  }

  .song_lyrics {
    font-size: 1em;
    padding: 1%;
  }

  #song_name {
    font-size: 1.1em;
  }

  #song_author {
    font-size: 0.9em;
  }

  #restart_guide {
    font-size: 1.3em;
  }

  #volume_guide {
    font-size: 1.3em;
  }

  #conformation_button {
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  .content_song_name {
    font-size: 0.5em;
    padding: 1%;
  }

  .decor_gap {
    font-size: 0.5em;
    padding: 1%;
  }

  .content_song_author {
    font-size: 0.5em;
    padding: 1%;
  }

  .song_lyrics {
    font-size: 0.5em;
    padding: 1%;
  }

  #song_name {
    font-size: 0.9em;
  }

  #song_author {
    font-size: 0.6em;
  }
}

@media (max-width: 600px) {
  #restart_guide {
    font-size: 1.3em;
    padding: 20px;
    top: 100px;
    width: 200px;
    height: 70px;
  }

  #volume_guide {
    font-size: 1.3em;
    padding: 20px;
    bottom: 100px;
    width: 200px;
    height: 70px;
  }

  #conformation_button {
    font-size: 2em;
    height: 100px;
    width: 230px;
  }

  .right_side{
    display: none;
  }

  #wrap_sn_sb {
    flex-direction: column;
  }

  .left_side{
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 10;
  }
  
  .register_menu_button {
    padding: 5px;
    margin: 5px;
  }

  .site_name_bar {
    font-size: 2em;
  }

  .search_bar{
    padding: 15px;
  }

  .register_menu_button{
    margin-left: auto; 
    margin-bottom: 0;
  }

  .content_menu_frame_red {
    width: 99%;
    margin: auto;
    justify-content: center;
  }

  /* .row{
    margin: auto;
  } */
}
